.intro-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 30px 300px;
    background-image: linear-gradient(to bottom, #3B5A74 10%, #4D869C 100%);
    color: white;
}

.intro-section .content li {
    margin: 10px 0;
}