# dependencies
front-end/node_modules
front-end/.pnp
front-end/.pnp.js

# testing
front-end/coverage

# production
front-end/build

# misc
front-end/.DS_Store
front-end/.env.local
front-end/.env.development.local
front-end/.env.test.local
front-end/.env.production.local

front-end/npm-debug.log*
front-end/yarn-debug.log*
front-end/yarn-error.log*

front-end/.env

# services
.vscode
AI-EMP.sln

/back-end/services/bin
/back-end/services/obj
/back-end/services/.env
/back-end/services/Migrations/*.cs

# LLM
/back-end/LLM/src/__pycache__
/back-end/LLM/src/file/__pycache__
/back-end/LLM/__pycache__
/back-end/LLM/data/__pycache__
/back-end/LLM/file/__pycache__
/back-end/LLM/models/__pycache__
/back-end/LLM/results
/back-end/LLM/data/users
/back-end/LLM/llm/__pycache__
/back-end/LLM/trained_model
/back-end/LLM/services/file/__pycache__
*.pyc
/back-end/services/wwwroot
