header {
    display: flex;
    flex-direction: row;
    background-color: #3B5A74;
    padding: 5px 0;
    color: white;
}

#header-logo, #header-nav, #header-auth {
    flex: 1;
}

#header-logo {
    margin-left: 50px;
}

#header-nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#header-nav li {
    transition: transform 0.3s ease, padding 0.3s ease, width 0.3s ease;
}

#header-nav li:hover {
    transform: scale(1.5);
    padding: 0 10px;
    width: auto;
}

#header-auth {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    margin-right: 20px;
}