/* Auth */
.overlay {
    background-color: none;
}
.overlay > .content {
    background-color: #4D869C;
}

.overlay > .content {
    padding: 30px;
    border-radius: 10px;
    border-color: #3B5A74;
    border-style: solid;
    text-align: center;
    box-shadow: inset 0 0 10px rgb(59, 90, 116, 1);
}

.overlay.auth {
    background-color: rgba(12, 30, 46, 0.603);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 0;
}

.overlay.auth > .content form > div {
    display: flex;
    gap: 5px;
}

.overlay.auth > .content form > div > button{
    flex: 1;
}

.overlay.auth .extra {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.overlay.auth .extra > button {
    width: 200px;
}

/* Chatbot */
.overlay.chatbot {
    position: fixed;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    padding: 20px;
    z-index: 999;
}

.overlay.chatbot.button {
    background-color: none;
}

.overlay.chatbot.button > .content {
    background: none;
    box-shadow: none;
    border: none;
}

.overlay.chatbot.button > .content > button {
    width: auto;
    height: auto;
}

.overlay.chatbot .content .sub-header {
    display: flex;
    justify-content: right;
}

.overlay.chatbot .content .sub-header button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgba(122, 178, 178, 0);
    transition: background-color 0.4s ease;
}

.overlay.chatbot .content .sub-header button:hover {
    background-color: rgba(122, 178, 178, 1);
}

.overlay.chatbot .content .chat-input-area button {
    width: fit-content;
    height: fit-content;
}

/* Review */
.overlay.review {
    background-color: rgba(12, 30, 46, 0.603);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 0;
}

.overlay.overlay.review form {
    background-color: transparent;
}

.overlay.review .rating {
    margin: 10px;
}

.overlay.review .rating > img {
    filter: grayscale(100%) opacity(0.5);
    margin: 5px;
    cursor: pointer;
    transition: filter 0.3s ease;
}

.overlay.review .rating > img:hover,
.overlay.review .rating > img.clicked {
    filter: brightness(1.2) sepia(1) hue-rotate(-10deg) saturate(7);
}