#categories {
    display: flex;
    flex-direction: row;
}

#categories li {
    flex: 1;
}

#categories li > button {
    border-radius: 0;
    width: 100%;
    padding: 20px 0;
    transition: transform 0.3s ease-in;
}

#categories li > button:hover {
    transform: scale(1.2);
}